.wrap {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px 30px;
}

.filter_menu {
    width: 563px;
    margin: 80px auto 75px;
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    font-size: 16px;
}

.filter_item {
    height: 21px;
    color: #391400A3;
    outline: none;
    border: none;
    background-color: inherit;
    font-size: 16px;
}

.filter_item:hover {
    cursor: pointer;
}

.card {
    width: 370px;
    height: 416px;
    box-sizing: border-box;
}

.card:active {
    border-radius: 13px;
    outline: 7px solid #90E149;
}

.position {
    width: 300px;
    position: relative;
    bottom: 160px;
    left: 48px;
}

.name {
    font-size: 40px;
    color: #FFFFFF;
}

.filter {
    width: 102px;
    height: 38px;
    margin-bottom: 24px;
    border-radius: 19px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    font-family: Epilogue-Regular, sans-serif;
    font-size: 16px;
}

.filter:hover {
    cursor: pointer;
}

.select_menu {
    display: none;
}

.loader {
    width: 170px;
    height: 48px;
    margin: 80px auto;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 9px #39140014;
    border-radius: 6px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Epilogue-Black,sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.loader:hover {
    border: 2px solid #90E149;
    border-radius: 1px;
}


@media (max-width: 1040px) {
    .card {
        width: 329px;
        overflow: hidden;
        border-radius: 5px;
    }

    .filter_menu {
        display: none;
    }

    .select_menu {
        display: block;
        width: 329px;
        height: 48px;
        margin: 28px auto 48px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #F3D1BF;
        border-radius: 6px;
        font-size: 16px;
        color: #391400A3;
        padding-left: 16px;
    }

    .select_menu:focus{
        border: 1px solid #F3D1BF;
    }

    .select_menu:active{
        border: 1px solid #F3D1BF;
    }

    .select_item {
        font-size: 16px;
        color: #391400A3;
        padding-left: 16px;
    }

    .loader {
        margin: 48px auto;
    }
}